.scan-container{
    
    border: solid 3px green;
    min-width: 100%;
    min-height: 33em;
    background: #F8F8F8;
    display: flex;
}

.scan-box{
    margin:auto;
    box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 0px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    background: #fff;
    height: 450px;
    width: 600px;
    /* border: solid 3px rgb(148, 150, 148); */
    border-radius: 15px;
}
.qr-box{
    height: 200px;
    width: 200px;
    border: solid 1px rgb(20, 20, 20);
    
}
.qr-guide{
    font-size: 21px;
    font-weight: bolder;
    margin-left: 175px;
    margin-top: -40px;
}